* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 67.5rem;
}

.header {
  border-bottom: 0.15rem solid #828282;
  min-height: 5.9rem;
  padding-bottom: 0.4rem;
}

.header__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  min-height: inherit;
}

.header__link {
  font-family: 'Gilroy', 'Arial', serif;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  color: #828282;
}

.header__link_active {
  color: black;
}

.header__link:hover {
  color: #3f3f3f;
}

.bio {
  margin-top: 2.1rem;
}

.bio__info-and-language {
  display: flex;
  justify-content: space-between;
}

.bio__name {
  max-width: 9rem;
  font-family: 'Gilroy', 'Arial', serif;
  font-weight: bold;
  font-size: 3.45rem;
}

.bio__profession-age-location {
  max-width: 12rem;
  margin-right: 1%;
  margin-top: 4.3rem;
  font-family: 'Gilroy', 'Arial', serif;
  font-weight: normal;
  font-size: 1.3rem;
}

.bio__page-language {
  display: flex;
  transform: rotate(-90deg);
  height: 0;
  margin-top: 5rem;
  font-family: 'Gilroy', 'Arial', serif;
  font-weight: bold;
  font-size: 1.13rem;
  text-transform: uppercase;
  line-height: 2.7;
}

.page-language__ru,
.page-language__eng {
  text-decoration: none;
  color: #828282;
}

.page-language__separator {
  font-weight: bold;
  color: black;
}

.page-language__active {
  font-weight: bold;
  color: black;
}

.bio__my-photo-container {
  margin-top: 2.8rem;
}

.bio__my-photo {
  max-width: 100%;
  height: auto;
}

.about-me {
  margin: 15.2rem auto 0;
  max-width: 34rem;
}

.about-me__section-name,
.skills__section-name {
  font-family: 'Gilroy', 'Arial', serif;
  font-weight: bold;
  font-size: 2.45rem;
  text-align: center;
}

.about-me__content-container {
  margin-top: 1.6rem;
}

.about-me__content {
  margin-bottom: 3.1rem;
  font-family: 'Gilroy', 'Arial', serif;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
}

.skills {
  margin: 14rem auto 0;
}

.skills__content {
  margin-top: 4rem;
  font-family: 'Gilroy', 'Arial', serif;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
}

.skills__programs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6.3rem;
  list-style: none;
}

.skills__skill {
  min-width: 12.7rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 14.4rem;
  justify-content: space-between;
}

.skill__icon {
  text-align: center;
}

.skill__name {
  max-width: 7rem;
  margin-top: 1rem;
  font-family: 'Gilroy', 'Arial', serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #828282;
}

.skill__level {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.skill_figma {
  margin-left: 0.5rem;
}

.skill__name_figma {
  margin-top: 0;
}